* {
    background-color: #eceaea;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.register-box {
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
}

section {
    display: flex;
